body {
    font-family: var(--font-rubik), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-arimo), sans-serif;
}
/* 이메일 입력 필드에 추가되는 빨간색 테두리와 에러 메시지 스타일 */
.is-invalid {
    border-color: #dc3545;
}
.stroke h1 {
    font-size: 3.5rem; /* 기본 글꼴 크기 */
    font-weight: bold;
    letter-spacing: -0.00001em;
    color: white;
    text-shadow: 
        3px 3px 0 #000,  
        -3px -3px 0 #000,  
        -3px 3px 0 #000,  
        3px -3px 0 #000,
        3px 0 0 #000,
        -3px 0 0 #000,
        0 3px 0 #000,
        0 -3px 0 #000,
        2px 2px 0 #000,
        -2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px -2px 0 #000,
        2px 0 0 #000,
        -2px 0 0 #000,
        0 2px 0 #000,
        0 -2px 0 #000;
}
.stroke h7 {
    font-size: 3.0rem; /* 기본 글꼴 크기 */
    font-weight: bold;
    letter-spacing: -0.0001em;
    color: white;
    text-shadow: 
        2px 2px 0 #000,  
        -2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px -2px 0 #000,
        2px 0 0 #000,
        -2px 0 0 #000,
        0 2px 0 #000,
        0 -2px 0 #000;
}


.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}